.campoTexto{
    margin: 28px 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;

    border-radius: 16px;
    background-color: #f3f4f5;
    font-size: 22px;
    padding: 22px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.21);


}

.campoTexto label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.campoTexto input{
    background-color: aliceblue;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 22px;
    font-size: 16px;


}