.campoTexto{
    margin: 24px 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #e8eeef;
    font-size: 22px;
    padding: 22px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);


}

.campoTexto label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

.campoTexto input{
    background-color: aliceblue;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 22px;
    font-size: 16px;


}